body{
    margin: 0;
    padding: 0
}

.containerPrincipal{
    margin: 3% 5%;
}

.canvasMap{
    width: 100%;
}

.titulo{
    color: rgb(35, 146, 52);
}

.vectorR{
    background-color: #C40000;
    color: #fff;
}